// Import files START
@import "utils/vars";
@import "utils/fonts";
@import "utils/libs";

// Common styles
::placeholder {
   color: #666;
}

::selection {
   background-color: $accent;
   color: #fff;
}

body {
   position: relative;
   height: 100%;
   min-width: 320px;
   font-family: $default-font;
   overflow-x: hidden;
   color: $text;
   font-size: 15px;

   input, textarea {
      border: none;
      padding: 20px;
      outline: none;
      margin: 1em 0;

      &:focus:required:invalid {
         border-color: red;
      }

      &:required:valid {
         border-color: green;
      }
   }
}

img {
   display: block;
   width: 100%;
   max-width: 100%;
   height: auto;
}

.img-wrap {
   display: flex;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

.img-fluid {
   display: flex;
   width: 100%;
   height: 100% !important;
   object-fit: cover;
}

.text-center {
   text-align: center;
}

b, strong {
   font-weight: bold;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

a {
   display: block;
   color: $link;
   transition: all .25s;

   &:hover {
      text-decoration: none;
   }
}

.btn {
   position: relative;
   display: block;
   width: auto;
   padding: 1.3em 2.2em;
   color: #fafafa;
   text-decoration: none;
   font-size: .9em;
   background-color: #252525;
   border: none;
   transition: all .25s ease;
   z-index: 4;
   cursor: pointer;

   &:hover {
      color: #ffffff;
      background-color: #2e2e2e;
   }
}

button, figure {
   &:focus, &:active {
      outline: none;
      border: none;
   }
}

select {
   &:focus, &:active {
      outline: none;
   }
}

path, g {
   fill: inherit;
   stroke: inherit;
}

.wrapper {
   display: flex;
   flex-direction: column;
   width: 100vw;
   max-width: 100%;
   height: 100%;
   min-height: 100vh;
}

.footer {
   margin-top: auto;
}

.flex-wrap {
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   max-width: 100%;
   height: 100%;
   min-height: 100vh;
}

.flex-center {
   margin: auto;
}

// Title
.h1-title, .h2-title, .h3-title, .h4-title {
   font-family: $extra-font;
}

.section-title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   max-width: 750px;
   text-align: center;

   .h2-title {
      margin-bottom: 0.4em;
   }

   .desc {
      color: #5f5f5f;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.07px;
   }
}

.h1-title {
   color: #ffffff;
   font-size: 48px;
   font-weight: 700;
   letter-spacing: 1.44px;

   span {
      display: block;
      font-style: italic;
      font-weight: 100;
   }

}

.h2-title {
   color: $dark;
   font-size: 38px;
   font-weight: 700;
   letter-spacing: 0.95px;
}

.h3-title {
   color: #171717;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 0.72px;
}

.top-btn {
   position: fixed;
   bottom: 25px;
   right: -100px;
   background-color: #424242;
   z-index: 12;
   border-radius: 1px;
   color: #666666;
   border: none;
   transform: rotate(180deg);
   width: 50px;
   height: 50px;
   max-width: 50px;
   cursor: pointer;
   transition: all .3s ease;
   opacity: .8;
   display: flex;
   justify-content: center;
   align-items: center;

   img {
      display: block;
      fill: $white;
      width: 23px;
      height: 23px;
   }

   &:hover {
      color: #fff;
      background-color: $accent;
      opacity: 1;
   }

   &.active {
      right: 25px;
   }

   &:after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      height: 160%;
      width: 160%;
   }
}



/*---------- HEADER start ----------*/
.header {
   position: relative;
   display: flex;
   overflow: hidden;
   min-height: 100vh;
   height: 100%;
   width: 100%;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;


   &__scroll-down {
      position: absolute;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      bottom: 3%;
      margin-top: auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $white;

      &:after {
         position: absolute;
         content: '';
         display: block;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 180%;
         border-radius: 50%;
         height: 180%;
      }
   }

   &__arrow-down {
      position: absolute;
      top: 15px;
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
      animation: move 2s normal infinite;
   }
}

@keyframes move {
   0% {
      transform: translateY(-7px);
      opacity: 1;
   }
   15% {
      opacity: 1;
   }
   100% {
      transform: translateY(8px);
      opacity: 0;
   }
}

.header-composition {
   margin: auto;
   text-align: center;
   color: #fff;
   font-size: 1.2em;
}

.header-composition p {
   margin-top: -74px;
   margin-bottom: .6em;
   color: #ffffff;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;

   letter-spacing: 2.8px;
}

.ishome {
   .top-wrap {
      background-color: transparent;
   }

   .navigation {
      a {
         color: $white;
      }

   }
}

.top-wrap {
   position: relative;
   top: 0;
   left: 0;
   width: 100vw;
   padding: .3em 1em;
   background-color: #fff;

   .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1180px;
      padding-top: 1em;
   }

   .logo {
      display: flex;
      width: 82px;
      height: 32px;
   }
}

.hamburger-box {
   display: flex;
}

.navigation {
   display: none;
   margin-right: 2em;
   margin-left: auto;

   li {
      &:hover {
         > a {
            color: $accent;
         }
      }
   }

   a {
      padding: 1em 1.1em;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 400;
      letter-spacing: 0.35px;
      color: $link;
   }
}

/*---------- HEADER end ----------*/


/*---------- SECTIONS end ----------*/


/*---------- ABOUT start----------*/
.s-about {
   padding: 5em 0 5.5em;

   .signature {
      width: 223px;
      height: 57px;
      margin: 2.3em auto;
   }
}

/*---------- ABOUT end----------*/


/*---------- ADVANTAGES start ----------*/
.s-advantages {
   padding: 5em 0 5.5em;
   background-size: cover;

   .icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   .advantage {
      display: flex;
      justify-content: center;

      p {
         color: $white;
         font-size: 1.2em;
         text-transform: uppercase;
         letter-spacing: 0.54px;

         span {
            font-size: .9em;
            display: block;
         }
      }
   }

   .icon-wrap {
      margin-right: 1.4em;
      min-width: 45px;
      min-height: 45px;
      max-width: 45px;
      max-height: 45px;
   }
}

/*---------- ADVANTAGES end ----------*/


/*---------- PROJECTS start ----------*/
.s-projects {
   padding: 5em 0 5.5em;

   &-wrap {
      margin-top: 3.1em;
   }

   &-box {
      display: flex;
      height: 250px;
      overflow: hidden;
      margin-bottom: 30px;
      cursor: pointer;
      transition: .25s;
      padding: 0;

      &.text {
         cursor: inherit;
      }

      &__link {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 100%;

         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: .25s;
            transform: translateZ(0);
            opacity: .92;
         }

         &:hover {
            img {
               transform: scale(1.05);
               opacity: 1;
            }
         }
      }

      &--long {
         height: 530px;
         max-height: 530px;
      }

      &__composition {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 100%;
         margin: auto;
         text-align: center;

         p {
            color: #171717;
            font-size: .9em;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.35px;
         }
      }
   }
}

/*---------- PROJECTS end ----------*/


/*---------- QUOTES SLIDER start----------*/
.s-quotes {
   padding: 10em 0 10.5em;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.slick-track, .quotes-slider, .slick-slide {
   &:active, &:focus {
      outline: none !important;
   }
}

.slick-slide {
   cursor: pointer;
}

.slick-dots li button:before {
   font-size: 35px;
   opacity: .4;
   transition: .25s;
   transform: scale(1) translateZ(0);
}

.slick-dots li.slick-active button:before {
   opacity: 1;
   transform: scale(1.3) translateZ(0);
}

.quotes-slider {
   .slick-list {
      text-align: center;
   }

   .slick-slide {
      .quote {
         font-family: $extra-font;
         margin: 0 auto;
         max-width: 740px;
         color: $white;
         font-style: italic;
         line-height: 36px;
         font-size: 30px;
         letter-spacing: 0.75px;

         &-author {
            margin-top: 1.2em;
            color: $white;
            font-size: .9em;
            font-weight: 500;
            line-height: 36px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
         }
      }

      .slick-dots {
         bottom: -110px;
      }

   }

   .slick-dots li button:before {
      color: $white;
   }

   .slick-dots li.slick-active button:before {
      color: $white;
   }

}

/*---------- QUOTES SLIDER end----------*/


/*---------- CLIENTS start ----------*/
.s-clients {
   padding: 3em 0;
}

.clients-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 230px;

   img {
      width: 100px;
      margin: auto;
   }

   &-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}

/*---------- CLIENTS end ----------*/


/*---------- LATEST_BLOG start ----------*/
.s-latest_blog {
   padding: 6em 0 6.5em;
   position: relative;
   &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 100vw;
      height: 1px;
      background-color: #ececec;
   }
}

.latest_blog-slider {
   margin-top: 30px;
   padding-bottom: 30px;

   &__slide {
      margin: 15px;
      background-color: #FFF;

      .img-wrap {
         height: 240px;
         position: relative;
      }

      .topic {
         position: absolute;
         left: 10px;
         bottom: 10px;
         padding: 11px 22px;
         background-color: #252525;
         color: $white;
         font-size: 12px;
         font-weight: 500;
         text-transform: uppercase;
         letter-spacing: 0.3px;
         margin: 0;
      }

      &-composition {
         padding: 25px 30px;

         .h3-title {
            color: #171717;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.6px;
         }

         .topic {
            color: #171717;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.3px;
         }

         .date {
            color: #171717;
            font-size: 12px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            opacity: .86;
         }
      }
   }
}

/*---------- LATEST_BLOG end ----------*/


/*---------- CONTACTS start ----------*/
.s-contacts {
   padding: 6em 0;
   .section-title {
      text-align: left;
   }
   &__contacts {
      margin-top: 1.3em;
      p {
         color: #5f5f5f;
         font-size: 15px;
         span {
            color: #171717;
            font-weight: 500;
            letter-spacing: 0.07px;
         }
      }
   }
   &__callback {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      input, textarea {
         color: #858585;
         font-size: 14px;
         font-weight: 400;
         letter-spacing: 0.07px;
      }
      input.btn {
         color: #f3f3f3;
      }
      textarea {
         resize: none;
      }
      &-name {
         width: 45%;
      }
      &-email {
         width: 45%;
      }
      &-title {
         display: block;
         width: 100%;
      }
      &-message {
         display: block;
         width: 100%;
      }
   }
}
.success{
   &__modal {
      position: relative;
      padding: 4em 3em;
      background-color: #fff;
      box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
      p {
         text-align: center;
         color: $dark;
         font-size: 1.2em;
         margin: 0;
      }
      &-close {
         font-size: 2em;
         position: absolute;
         top: 0;
         right: 0px;
         padding: 15px;
         line-height: 0.6;
         cursor: pointer;
         transition: .25s;
         &:hover {
            color: $accent;
         }
      }
      &-wrap {
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         max-width: 100%;
         height: 100vh;
         background: rgba(0,0,0,.3);
         display: none;
         justify-content: center;
         align-items: center;
         z-index: 10;
      }
   }
}
   /*---------- CONTACTS end ----------*/


   /*---------- FOOTER start ----------*/
   .footer {
      padding: 6em 0 0;
      &-column {
         position: relative;
         padding-bottom: 4.6em;
         &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: calc(-50vw + 50%);
            content: '';
            display: block;
            width: 100vw;
            height: 1px;
            background-color: #ffffff;
            opacity: 0.1;
         }
      }
      .col-lg-4 {
         &:nth-child(2) {
            padding: 0 1.3em;
         }
      }
      .h3-title {
         margin-bottom: 1em;
         color: $white;
         font-size: 20px;
         letter-spacing: 0.5px;
      }
      &-column {
         &__about {
            p {
               margin-bottom: 2.7em;
               font-family: $extra-font;
               color: #e9e9e9;
               font-size: 15px;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 0.38px;
            }
         }
      }
      .social-links {
         display: flex;
         align-items: center;
         a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            padding: 7px;
         }
      }
      .twit {
         display: flex;
         img {
            margin-top: 0.4em;
            margin-right: 1.3em;
            width: 17px;
            height: 13px;
         }
         p {
            color: #e9e9e9;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.07px;
         }
      }
      .imgs {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         a:hover {
            img {
               opacity: 1;
            }
         }
         a {
            margin: .3em;
         }
         img {
            width: 80px;
            height: 80px;
            opacity: .85;
            transition: .25s;
         }
      }
      .copyright {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 2.2em;
         color: #e9e9e9;
         font-size: 14px;
         letter-spacing: 0.07px;
         &:hover {
            a {
               color: $accent;
            }
         }
         a {
            margin-left: .3em;
            color: $white;
            transition: .25s;
         }
      }
   }
   /*---------- FOOTER end ----------*/


   @import "media";
 // Always at the end
